In [1]:
# importing all need libraries

import pandas as pd

In [2]:
# reading data from csv to data frame

path_to_file = '2_bookings.csv'
bookings = pd.read_csv(path_to_file, sep=';')

In [3]:
# checking the first 5 rows of data obtained

bookings[:5]

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [4]:
# renaming column names

bookings = bookings.rename(columns=lambda name: name.lower().replace(' ', '_'))

In [5]:
# countries with the highest count of the successful book

best5_book_countries = bookings.query('is_canceled == 0') \
                                .groupby('country', as_index=False) \
                                .agg({'is_canceled': 'count'}) \
                                .sort_values('is_canceled', ascending=False) \
                                .rename(columns={'is_canceled': 'successful_book_count'}) \
                                .reset_index()

In [6]:
# mean values of night count for each hotel

book_mean_hotels = bookings.groupby('hotel', as_index=False) \
                           .agg({'stays_total_nights': 'mean'}) \
                           .round(2)

In [7]:
# the most popular months for booking in 2016 and 2017

popular_booking_months = bookings.query('arrival_date_year in [2016, 2017]') \
                                 .groupby(['arrival_date_year', 'arrival_date_month'], as_index=False) \
                                 .agg({'hotel': 'count'}) \
                                 .sort_values(['arrival_date_year', 'hotel'], ascending=(True, False))

In [8]:
# creating new column is named 'total_kids' that contains summary count of all the kids

bookings['total_kids'] = bookings.babies + bookings.children

In [9]:
# comparison mean value of the kids in each hotel

bookings.groupby('hotel') \
        .total_kids \
        .mean() \
        .round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

In [10]:
# creating new column is named 'has_kids' that contains if any kids was at booking

bookings['has_kids'] = bookings.total_kids != 0

In [11]:
# churn rate calculation by the groups with the kids and without in percentages

canceled = bookings.groupby('has_kids') \
        .is_canceled \
        .sum()

all = bookings.groupby('has_kids') \
        .is_canceled \
        .count()

churn_rate = (canceled * 100 / all).round(2)

In [16]:
churn_rate

has_kids
False    37.22
True     34.95
Name: is_canceled, dtype: float64